body {
    margin: 0;
    font-family: 'Outfit', serif;;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

.card-wrapper {
    border-radius: 1rem;
    margin: 15rem auto;
    width: 10%;
    padding: 0.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-wrapper-text-bold  {
    padding: 0 0.5rem;
    text-align: center;
    font-weight: 700;
}

.card-wrapper-text-para  {
    color: hsl(220, 15%, 55%);
    font-size: 12px;
    text-align: center;
    font-weight: 400;
}